default
/firmware/PIC32MK_USB.X/nbproject/private/configurations.xml
/firmware/PIC32MK_USB.X/nbproject/private/private.xml
/firmware/PIC32MK_USB.X/nbproject/project.properties
/firmware/PIC32MK_USB.X/nbproject/Makefile-default.mk
/firmware/PIC32MK_USB.X/nbproject/Makefile-genesis.properties
/firmware/PIC32MK_USB.X/nbproject/Makefile-impl.mk
/firmware/PIC32MK_USB.X/nbproject/Makefile-local-default.mk
/firmware/PIC32MK_USB.X/nbproject/Makefile-variables.mk
